* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
button {
  display: inline-block;
  outline: none;
}
::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #c2c9d2;
}
/* LOADING */
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
}
#loading img {
  width: 500px;
  height: 500px;
}
/* HEADER */
header {
  display: flex;
  align-items: center;
  height: 65px;
  opacity: 1;
  width: 100%;
  justify-content: center;
  background-color: #2b3647;
}
header .container,
header .nav {
  max-width: 1142px;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  height: 65px;
  opacity: 1;
  width: 100%;
}
header .link {
  text-decoration: none;
  margin: 0 20px;
  color: #fff;
}
header .active,
header .link:hover {
  color: #ffd22d;
  text-decoration: none;
}
header .menu {
  display: flex;
  list-style-type: none;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}
/* HOME PAGE */
.homepage-backgroundImage {
  height: calc(100vh - 65px);
  width: 100%;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  overflow-y: hidden;
}
.homepage-backgroundImage .homepage-container {
  width: 100%;
  max-width: 1140px;
  display: flex;
  height: 20%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 60px;
}
.homepage-container .homepage-title {
  font-size: 40px;
  color: #2b3647;
  -webkit-animation: HomePage_neon5__3Q0G- 1.5s ease-in-out infinite alternate;
  animation: HomePage_neon5__3Q0G- 1.5s ease-in-out infinite alternate;
}
.homepage-container .homepage-btn-leftToRight {
  font-size: 25px;
  height: 58px;
  max-width: 300px;
  width: 25%;
  padding: 15px;
  vertical-align: middle;
  white-space: nowrap;
  background-color: #ffb703;
  letter-spacing: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.homepage-container .homepage-btn-leftToRight,
.homepage-container .homepage-link {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 0;
  border: none;
  border-radius: 16px;
  color: #3d405b;
  outline: none;
  position: relative;
  cursor: pointer;
}
.homepage-container .homepage-link {
  display: block;
  letter-spacing: 0.8px;
  background: transparent;
  letter-spacing: 10px;
  text-decoration: none;
  padding: 0;
}
/* LESSONS */
.lessons {
  background-color: #f8f4e1;
  width: 100%;
  min-height: calc(100vh - 65px);
}
.lessons .container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 20px;
}
.lessons .day-expire {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.lessons .span-tag {
  font-weight: 700;
  margin-left: 5px;
  margin-right: 2px;
}
.lessons #lessons-page {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.lessons .item {
  width: 190px;
  height: 250px;
  display: flex;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.14), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 8px;
  color: #3d405b;
  font-size: 20px;
  font-weight: 500;
  background-color: #ffd166;
  transition: all 0.2s;
  cursor: inherit;
  padding: 25px 20px 20px;
  margin: 20px auto 20px 20px;
}
.lessons .item:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  cursor: inherit;
}
.lessons .lock-icon {
  position: absolute;
  top: 5px;
  left: 5px;
}
.lessons svg {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -1px;
}
.lessons .item p {
  position: absolute;
  bottom: 5px;
  cursor: inherit;
  z-index: 1;
}
/* LESSON */
.lesson {
  box-sizing: border-box;
  margin: 0;
  height: calc(100vh - 65px);
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  position: relative;
}
.lesson .back-drop {
  position: absolute;
  width: 100%;
  height: 100%;
}
.back-drop .back-drop-top,
.back-drop .back-drop-bottom,
.back-drop .back-drop-left,
.back-drop .back-drop-right {
  position: absolute;
}
.back-drop .back-drop-top {
  left: 0;
  top: 0;
  height: 50%;
  width: 100%;
  background: #f8f4e1;
  border-bottom-right-radius: 200px;
  z-index: -1;
}
.back-drop .back-drop-bottom {
  left: 0;
  bottom: 0;
  height: 50%;
  width: 100%;
  background: #dbf6e9;
  border-top-left-radius: 200px;
  z-index: -1;
}
.back-drop .back-drop-left {
  left: 0;
  bottom: 0;
  height: 50%;
  width: 50%;
  background: #f8f4e1;
  z-index: -2;
}
.back-drop .back-drop-right {
  top: 0;
  right: 0;
  height: 50%;
  width: 50%;
  background: #dbf6e9;
  z-index: -2;
}
.lesson .course-item {
  width: 250px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 600px;
  perspective: 600px;
  position: relative;
  cursor: pointer;
}
.course-item .course-item-front,
.course-item .course-item-back {
  color: #fff;
  min-height: 250px;
  width: 100%;
  padding: 20px 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(209.21deg, #fbb300 13.57%, #1ed0e2 98.38%);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.course-item .course-item-front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.course-item-front .inner,
.course-item-back .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) translateZ(60px);
  transform: translate(-50%, -50%) translateZ(60px);
  width: 80%;
}
.course-item-front .inner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.course-item .course-item-back {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.course-item-back .inner {
  display: contents;
}
.course-item .course-item-front,
.course-item:hover .course-item-back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.course-item:hover .course-item-front {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
/* NAVIGATION */
.nav-container {
  position: relative;
  z-index: 100;
}
.nav-container .nav-fix-width {
  height: 100vh;
  width: 210px;
  transition: 0.3s;
}
.nav-container .nav-hide-fix-width {
  width: 0;
  transition: width 0.3s;
}
.nav-container .nav-sidebar {
  position: absolute;
  width: 210px;
  top: 0;
  left: 0;
  height: calc(100vh - 65px);
  background: #37474f;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
}
.nav-container .nav-original-sidebar {
  width: 210px;
  left: 0;
  height: 100vh;
  transition: left 0.3s;
}
.nav-container .nav-fixedCss {
  position: fixed;
  top: 0;
  left: 0;
  transition: none;
  height: 100vh;
}
.nav-container .nav-hide-sidebar {
  left: -210px;
  transition: left 0.3s;
}
.nav-sidebar .nav-icon {
  position: absolute;
  right: -35px;
  top: 15px;
  cursor: pointer;
}
.nav-sidebar .nav-item {
  background-color: #263238;
  font-size: 20px;
  line-height: 52px;
  list-style: none;
}
.nav-item a {
  position: relative;
  color: #fff;
  display: inline-block;
  text-decoration: none;
}
.nav-item .nav-active {
  font-weight: 700;
  padding-left: 15px;
  background: #ffd22d;
  width: 100%;
  color: #263238 !important;
}
.nav-item .nav-title {
  padding-left: 15px;
}
.nav-sidebar .nav-menu-drop {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.nav-sidebar .sidebar-menu-active {
  border-radius: 0.4rem 0.4rem 0 0;
}
.nav-menu-drop .sidebar-menu {
  border-radius: 0.4rem;
  position: relative;
  font-weight: 700;
  color: #687f98;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition: -webkit-transform 0.4s cubic-bezier(0.28, 0.25, 0.36, 1.28);
  transition: transform 0.4s cubic-bezier(0.28, 0.25, 0.36, 1.28);
  transition: transform 0.4s cubic-bezier(0.28, 0.25, 0.36, 1.28),
    -webkit-transform 0.4s cubic-bezier(0.28, 0.25, 0.36, 1.28);
  cursor: pointer;
  z-index: 2;
  padding-right: 10px;
}
.sidebar-menu .sidebar-select {
  background: #263238;
  color: #fff;
  height: 50px;
  padding-left: 15px;
}
.sidebar-menu .sidebar-menu-icon-box {
  width: 10px;
  height: 10px;
  margin-top: -0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  background: #263238;
}
.sidebar-menu-icon-box .sidebar-menu-icon {
  width: 10px;
  height: 10px;
  border-right: 0.15rem solid #31acff;
  border-top: 0.15rem solid #31acff;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.sidebar-menu-active .sidebar-menu-icon {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nav-menu-drop .sidebar-menu-dropdown {
  padding-top: 30px;
  padding-bottom: 50px;
  width: 100%;
  width: 200px;
  font-weight: lighter;
  top: 52px;
  font-size: 18px;
  opacity: 0;
  left: 5px;
  display: none;
  border-radius: 8px;
  background-color: #fff;
  border-top: 0.2rem solid #eef3f6;
  z-index: 999;
  overflow-y: scroll;
  max-height: 50%;
}
.sidebar-menu-active .sidebar-menu-dropdown {
  opacity: 1;
  display: block;
  -webkit-animation: showDropdownMenu 0.4s cubic-bezier(0.28, 0.25, 0.36, 1.28);
  animation: showDropdownMenu 0.4s cubic-bezier(0.28, 0.25, 0.36, 1.28);
}
.sidebar-menu-dropdown .sidebar-menu-dropdown-option {
  padding: 0 0 0 15px;
  border-radius: 0.4rem;
  font-size: 15px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
}
.sidebar-menu-dropdown-option a {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  font-size: 18px;
  color: #000;
  width: 100%;
}
.sidebar-menu-dropdown-option:hover a {
  color: #263238;
  font-weight: 600;
  transition: all 0.1s;
}
.sidebar-menu-dropdown-option:hover {
  background-color: #e8f0fc;
}
/* VOCABULARY */
.vocabulary-page {
  margin: 0;
  display: flex;
  background: #263238;
}
.vocabulary-page .vocabulary-page-container {
  width: 100%;
  display: flex;
  justify-content: center;
  top: 0;
  margin: auto;
  align-items: center;
  padding: 50px;
  background: #fff;
  min-height: 100vh;
}
.vocabulary-page-container .vocabulary-container {
  position: relative;
  max-width: 750px;
  width: 90%;
  border-bottom: 3px solid #5d2fc1;
  padding-top: 20px;
  z-index: 1;
  margin: auto;
}
.vocabulary-container .vocabulary-definition-container,
.vocabulary-container .vocabulary-example-container {
  margin: 20px 0;
}
.vocabulary-btn-container {
  display: flex;
  margin: 15px 0 5px;
}
.vocabulary-btn-container button {
  margin-right: 15px;
  padding: 5px;
  background-color: transparent;
}
.vocabulary-container button {
  outline: none;
  border: none;
  z-index: 1;
}
.vocabulary-btn-container .vocabulary-btn {
  border-radius: 5px;
  cursor: pointer;
  width: 48px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.vocabulary-definition-container .vocabulary-txt-vocabulary {
  font-size: 30px;
  color: #1d2a57;
  font-weight: 400;
  align-items: center;
}
.vocabulary-txt-vocabulary .vocabulary-txt-translate-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.vocabulary-txt-translate-wrapper .vocabulary-line-spelling {
  margin: 0 7px;
}
.vocabulary-txt-translate-wrapper .vocabulary-txt-spelling {
  font-size: 20px;
  color: #1d2a57;
  font-weight: 600;
}
.vocabulary-txt-translate {
  color: #be0000;
  opacity: 0;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  height: auto;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
.vocabulary-showOff-txt-translate {
  transition: 0.3s;
  height: 0;
  opacity: 0;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.vocabulary-show-txt-translate {
  transition: opacity 0.2s;
  transition: 0.5s;
  opacity: 1;
  margin: 10px 0 20px;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.vocabulary-definition-container .vocabulary-addList-line {
  position: relative;
  margin: 7px 0 10px;
  border-top: thin solid #fec400;
}
.vocabulary-addList-line .ButtonAdd-btn-add {
  background: #fec400;
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  width: 50px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: 0.5s;
  /* position: relative; */
}
.vocabulary-addList-line .ButtonAdd-btn-add::after {
  display: block;
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: -webkit-max-content;
  width: max-content;
  top: -30px;
  left: 50%;
  opacity: 0;
  transition: 0.3s;
  content: "Add this meaning to word list";
}
.vocabulary-addList-line .ButtonAdd-btn-add:hover::after {
  opacity: 1;
}
.vocabulary-addList-line button {
  position: absolute;
  right: 0;
  top: -12px;
}
.vocabulary-definition-container .vocabulary-btn-translate {
  position: absolute;
  right: 0;
  top: 40px;
}
.ButtonTranslate-btn-translate {
  width: 50px;
  height: 25px;
  background-size: cover;
  background-position: 50%;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
}
/* READING */
.reading-page .reading-page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.reading-page-container .reading-container {
  padding-top: 50px;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  width: 90%;
}
.reading-container .reading-content {
  padding: 30px;
  width: 100%;
  position: relative;
  background-color: hsla(0, 0%, 100%, 0.2);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border-radius: 5px;
  border: 1px solid #000;
}
.title {
  margin: 20px 0;
  font-size: 24px;
}
.reading-content .reading-txt {
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
}
.reading-txt .paragraph-container {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-bottom: 10px;
  -webkit-animation: Paragraph-fadein 0.3s linear;
  animation: Paragraph-fadein 0.3s linear;
}
.paragraph-container .paragraph {
  width: 100%;
  font-weight: 400;
  opacity: 1;
  transition: 0.3s;
}
.paragraph-container .paragraph-showOff-txt-translate {
  transition: 0.3s;
  height: 0;
  opacity: 0;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.paragraph-container .paragraph-show-txt-translate {
  color: #be0000;
  transition: opacity 0.2s;
  transition: 0.5s;
  opacity: 1;
  margin: 5px 0 10px;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.paragraph-container .lightbox-modal {
  border-bottom: 1px solid #036;
  font-weight: 700;
  cursor: pointer;
}
.reading-container .reading-choices-container {
  padding: 10px;
  width: 100%;
  height: 50vh;
}
.reading-choices-container .reading-question-container {
  margin-top: 10px;
  position: relative;
}
.modern-radio-container {
  margin: 24px 0;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.modern-radio-container .radio-outer-circle {
  width: 18px;
  height: 18px;
  min-width: 18px;
  min-height: 18px;
  border: 2px solid #0d5bc6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  transition: all 0.1s linear;
}
.modern-radio-container .unselected {
  border: 2px solid #666;
}
.radio-outer-circle .radio-inner-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #0d5bc6;
  transition: all 0.1s linear;
}
.radio-outer-circle .unselected-circle {
  width: 0;
  height: 0;
}
.modern-radio-container .helper-text {
  color: #666;
  margin-right: 10px;
}
.reading-choices-container .reading-centerPosition {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reading-centerPosition .reading-btnQuestion {
  width: 150px;
  height: 50px;
  font-size: 17px;
  font-weight: 700;
  display: inline-block;
  border-radius: 16px;
  cursor: pointer;
  text-align: center;
  outline: none;
  border: none;
}
.modern-radio-container .fa-check-circle {
  color: green;
  font-size: 20px;
}
.modern-radio-container .fa-times-circle {
  color: red;
  font-size: 20px;
}
.reading-choices-container .reading-fix-height {
  height: 90px;
  width: 100%;
}
.reading-page-container .audio-player-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 210px);
  color: #fff;
  height: 70px;
  position: fixed !important;
  right: 0;
  bottom: 0;
  transition: 0.3s;
}
.reading-page-container .audio-player-transition {
  transition: 0.3s;
}
.reading-question-container .reading-backDrop {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
}
.audio-player-container .audio-player-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 650px;
  padding: 0 10px;
  border-radius: 50px;
  background: #fff;
  box-shadow: 0 8px 24px rgba(149, 157, 165, 0.5);
}
.audio-player-wrapper .audio-player-button {
  height: 50px;
  width: 30px;
  border-radius: 50px;
  transition: background 0.25s;
  box-shadow: none !important;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.audio-player-button i {
  font-size: 18px;
  padding: 0;
  margin: 0;
  color: #1d2a57;
}
.audio-player-wrapper .audio-player-slider {
  width: 475px;
  cursor: pointer;
}
.audio-player-wrapper .audio-player-timeline-current,
.audio-player-wrapper .audio-player-timeline-total {
  font-size: 20px;
  min-width: 40px;
  color: #1d2a57;
}
.audio-player-wrapper .audio-player-timeline-current {
  left: 0;
}
/* MODAL */
.modal-backDrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(51, 51, 51, 0.3);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  opacity: 0;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  overflow: hidden;
  height: 100vh;
}
.modal-backDrop.modal-active {
  transition-duration: 0.25s;
  transition-delay: 0ms;
  opacity: 1;
}
.modal-backDrop .modal-content {
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}
.modal-backDrop .modal-content {
  position: fixed;
  top: 30%;
  opacity: 1;
  padding: 20px;
  box-sizing: border-box;
  min-height: 50px;
  min-width: 50px;
  max-height: 80%;
  max-width: 80%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #fff;
  border-radius: 5px;
  -webkit-animation: Modal_transitionAnimation 0.3s;
  animation: Modal_transitionAnimation 0.3s;
  z-index: 11;
}
.modal-content .reading-container-modal {
  min-height: 200px;
  position: relative;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
.reading-container-modal .reading-btnTranslate {
  position: absolute;
  right: 5px;
  top: 5px;
}
.reading-container-modal .reading-vocabularyModal {
  font-size: 25px;
  text-transform: capitalize;
}
.reading-container-modal .reading-definitionModal,
.reading-container-modal .reading-exampleModal {
  font-size: 18px;
  margin: 15px 0;
}
/* LISTENING */
.listening-page-container {
  width: 100%;
  display: flex;
  height: calc(100vh - 65px);
  overflow: hidden;
}
.listening-page-container .listening-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  height: 100%;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
}
.progress-line {
  height: 16px;
  max-width: 950px;
  width: 90%;
  min-height: auto;
  min-width: auto;
  border-radius: 8px;
  background-color: #e5e5e5;
  margin: 50px auto;
  position: relative;
}
.progress-line .progress-line-correct {
  border-radius: 8px;
  background-color: #58a700;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  transition: 1s;
}
.progress-line .showStatic-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: -webkit-max-content;
  height: max-content;
  color: #1d2a57;
  border-radius: 8px;
  padding: 5px;
  font-size: 12px;
  position: absolute;
  right: 0;
  bottom: 20px;
  flex-direction: row-reverse;
}
.showStatic-container .btn-restart {
  display: block;
  background: #fff;
  width: 100px;
  height: 50px;
  line-height: 50px;
  margin: auto;
  color: #3b5998;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.2s cubic-bezier(0.31, -0.105, 0.43, 1.4);
  border: 1px solid #294480;
  outline: none;
}
.btn-restart .spanTag {
  width: 72%;
  line-height: inherit;
  font-size: 14px;
  text-transform: uppercase;
  left: 0;
  transition: all 0.2s cubic-bezier(0.31, -0.105, 0.43, 1.4);
  display: block;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 0;
}
.btn-restart .spanTag::after {
  content: "";
  background-color: #294480;
  width: 2px;
  height: 60%;
  position: absolute;
  top: 20%;
  right: -1px;
}
.btn-restart .icon {
  width: 28%;
  right: 0;
  transition: all 0.2s cubic-bezier(0.31, -0.105, 0.43, 1.4);
  display: block;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 0;
}
.icon .restart {
  height: 36px;
}
.icon .check {
  display: none;
}
.showStatic-container .showStatic {
  flex-direction: column;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: -webkit-max-content;
  height: max-content;
  color: #1d2a57;
  border-radius: 8px;
  padding: 5px;
  font-size: 12px;
}
.btn-restart.success .spanTag,
.btn-restart:hover .spanTag {
  left: -72%;
  opacity: 0;
}
.btn-restart.success,
.btn-restart:hover .icon {
  width: 100px;
}
.btn-restart.success,
.btn-restart:hover .restart {
  font-size: 20px;
}
.btn-restart.success {
  background-color: #294480;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-restart.success .icon {
  width: 100%;
}
.btn-restart.success .check {
  position: relative;
  display: inline-block;
  opacity: 1;
  color: #fff;
}
.btn-restart:hover {
  opacity: 0.9;
}
.btn-restart.success .restart {
  display: none;
}
.btn-restart:active {
  opacity: 1;
}
.listening-container .question-box {
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
}
.question-box .audio-container {
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin-bottom: 30px;
}
.audio-container .us,
.audio-container .uk {
  cursor: pointer;
}
.question-box i {
  font-size: 70px;
  cursor: pointer;
}
.question-box .word-result {
  display: flex;
  max-width: 50vw;
  flex-wrap: wrap;
  /* justify-content: space-evenly !important; */
  justify-content: center;
}
.word-result .letter-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  width: 40px;
  min-height: 30px;
  margin: 5px;
  font-size: 25px;
  font-weight: 500;
}
.letter-container .underline {
  width: 40px;
  height: 4px;
  background-color: #37474f;
  margin: 0 5px 5px;
}
.question-box .word-input {
  margin-top: 20px;
  width: 500px;
  height: 50px;
  outline: none;
  padding: 5px;
  text-align: center;
  font-size: 20px;
  box-shadow: inset -4px -4px 8px 0 rgba(#fff, 0.8),
    inset 4px 4px 8px 0 rgba(#666, 0.1);
  border: none;
  border-radius: 8px;
  background-color: #fff;
  transition: 0.2s;
  margin-bottom: 15px;
}
.question-box .btn {
  width: 150px;
  height: 50px;
  font-size: 17px;
  font-weight: 700;
  display: inline-block;
  border-radius: 16px;
  cursor: pointer;
  text-align: center;
  outline: none;
  border: none;
}
/* MULTIPLE CHOICE */
.multiple-page-container {
  height: calc(100vh - 65px);
  width: 100%;
  overflow: hidden;
}
.multiple-page-container .multiple-container {
  height: calc(100vh - 65px);
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  padding: 70px 50px 50px;
}
.multiple-container .question-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 50px;
  z-index: 2;
}
.question-box .question {
  font-size: 30px;
  color: #1d2a57;
  font-weight: 400;
}
.question-box .overlay {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  display: none;
  font-size: 50px;
}
.multiple-container .show-notification-container {
  height: 140px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  border-top: 2px solid;
  display: flex;
}
.show-notification-container .show-notification {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 2;
}
.show-notification .choice-btn-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.show-notification .btn {
  width: 150px;
  height: 50px;
  font-size: 17px;
  font-weight: 700;
  display: inline-block;
  border-radius: 16px;
  cursor: pointer;
  text-align: center;
  outline: none;
}
.show-notification .choice-btn-container-success {
  padding: 0 30px;
  background-color: #b8f28b;
  width: 100%;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
.choice-btn-container-success .excellent {
  display: flex;
  align-items: center;
}
.excellent i {
  font-size: 40px;
  display: inline-block;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  line-height: 80px;
  color: #58a700;
}
.excellent span {
  font-size: 24px;
  margin-left: 15px;
}
.choice-btn-container-success .next {
  background-color: #58a700;
  color: #fff;
  font-size: 17px;
}
.show-notification .choice-btn-container-fail {
  padding: 0 30px;
  background-color: #ffc1c1;
  width: 100%;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
.choice-btn-container-fail .incorrect {
  display: flex;
  align-items: center;
}
.incorrect i {
  font-size: 40px;
  display: inline-block;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  line-height: 80px;
  color: #ea2b2b;
}
.incorrect span {
  font-size: 24px;
  margin-left: 15px;
}
.choice-btn-container-fail .next {
  background-color: #ea2b2b;
  color: #fff;
  font-size: 17px;
}
/* FLASHCARD */
.flashcard-background {
  background-color: #fcfaf2;
  width: 100%;
  height: calc(100vh - 65px);
}
.flashcard-background .flashcard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin: 0;
}
.flashcard-container .flashcard-title {
  color: #fff;
  text-align: center;
  font-size: 66px;
  border: 4px dotted #fff;
  background-color: #52bab3;
  width: -webkit-max-content;
  width: max-content;
  padding: 35px;
  margin: auto;
}
.flashcard-container .flashcard-box-container {
  width: 900px;
  height: 500px;
  background-color: #f4f1de;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}
.flashcard-box-container .flashcard-box-question {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flashcard-box-question .flashcard-notification {
  text-align: center;
}
/* WORD LIST */
.wordlist-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 65px);
  position: relative;
  width: 900px;
  margin: 0 auto;
}
.wordlist-container .wordlist-no-data-message {
  margin-top: 3rem;
}
.wordlist-container .wordlist-table {
  width: 100%;
  text-align: left;
  color: #424242;
}
.wordlist-table .wordlist-tbody {
  font-size: 16px;
}
.wordlist-table tr {
  height: 50px;
}
.wordlist-tbody .wordlist-trTagTbody {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.wordlist-tbody .wordlist-highlightRow {
  color: #3682f9;
}
.wordlist-tbody td {
  padding-left: 5px;
}
.wordlist-trTagTbody .wordlist-highlightBtn,
.wordlist-trTagTbody .wordlist-deleteBtn {
  width: 15%;
}
.wordlist-container i {
  cursor: pointer;
}
.wordlist-trTagTbody i {
  border: 1px solid #000;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 23px;
  cursor: pointer;
  position: relative;
}
.wordlist-highlightRow .wordlist-highlightBtn i {
  background-color: #3682f9;
  color: #fff;
  border: #fff;
}
.wordlist-highlightRow .wordlist-deleteBtn i {
  border: 1px solid #000;
  color: #424242;
}
.wordlist-trTagTbody i:hover {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
}
.wordlist-trTagTbody .wordlist-deleteBtn {
  text-align: left;
}
.wordlist-container .wordlist-confirm-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 32, 32, 0.55);
  overflow: hidden;
  z-index: 2;
  display: none;
}
.wordlist-confirm-box .wordlist-container-confirm-box {
  position: fixed;
  top: 25%;
  left: 50%;
  display: flex;
  flex-direction: column;
  width: 400px;
  opacity: 1;
  background-color: #fff;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 25px;
  border-radius: 5px;
}
.wordlist-container-confirm-box .wordlist-btn-container {
  display: flex;
  margin-top: 15px;
}
.wordlist-btn-container .wordlist-confirm-btn {
  background-color: #1d2a57;
  color: #fff;
  margin-right: 10px;
}
.wordlist-confirm-box button {
  outline: red;
  height: 30px;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  padding: 0 5px;
  border: none;
  border-radius: 15px;
}
.wordlist-btn-container button {
  cursor: pointer;
}
.wordlist-container .wordlist-pagination-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.wordlist-pagination-container .pagination-row {
  display: flex;
}
.pagination-row .pagination-page-item {
  border: 1px solid #000;
  width: 38px;
  height: 38px;
  text-align: center;
  cursor: pointer;
  line-height: 36px;
  margin: 5px;
  transition: 0.3s;
  border-radius: 5px;
}
.pagination-row .pagination-active {
  background-color: #3682f9;
  color: #fff;
  border-color: #3682f9;
}
/* PROFILE */
.UserProfile-container {
  width: 100vw;
  height: calc(100vh - 65px);
  display: flex;
  justify-content: space-evenly;
  padding: 50px 20px;
}
.UserProfile-container .UserProfile-userContainer {
  width: 30%;
}
.UserProfile-userContainer .UserProfile-userImg {
  width: 100%;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0;
}
.UserProfile-userContainer .UserProfile-userInfor {
  margin-top: 30px;
}
.UserProfile-userInfor .UserProfile-pTag {
  line-height: 30px;
  font-size: 20px;
  word-wrap: break-word;
}
.UserProfile-pTag .UserProfile-spanTag {
  font-weight: 700;
  margin-right: 10px;
}
.UserProfile-container .UserProfile-policyContainer {
  width: 60%;
  color: rgba(0, 0, 0, 0.65);
}
.UserProfile-policyContainer .UserProfile-titleContainer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.UserProfile-titleContainer .UserProfile-title {
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 10px;
}
.UserProfile-titleContainer p {
  font-style: italic;
  font-size: 18px;
}
.UserProfile-policyContainer .UserProfile-content {
  margin-top: 30px;
  color: rgba(0, 0, 0, 0.65);
}
.UserProfile-content p {
  font-size: 18px;
}
.UserProfile-content .UserProfile-point {
  font-size: 20px;
  margin-top: 20px;
  font-weight: bolder;
}
.UserProfile-content .UserProfile-useBtn {
  margin-top: 20px;
  height: 30px;
  width: 300px;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  padding: 0 5px;
  border: none;
  border-radius: 15px;
  color: #1d2a57;
  background-color: #ffd22d;
  margin-right: 10px;
  cursor: pointer;
}
/* LOGIN */
.login-body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #666;
  height: calc(100vh - 65px);
  min-height: calc(100vh - 65px);
  width: 100vw;
}
.login-body,
.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login-body .login-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
}
.login-wrapper .login-container {
  position: relative;
  width: 100%;
  max-width: 900px;
  height: auto;
  display: flex;
  background: #fff;
  box-shadow: 0 0 5px #999;
}
.login-container .login-col-left,
.login-container .login-col-right {
  padding: 60px;
  display: flex;
}
.login-container .login-col-left {
  width: 60%;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 0);
  clip-path: polygon(0 0, 0 100%, 100% 0);
  background-color: #263238;
}
.login-col-left .login-text {
  position: relative;
  width: 100%;
  color: #fff;
  opacity: 0;
  transition: 0.3s;
  -webkit-animation: login-titleMoving 1s linear 0.3s forwards;
  animation: login-titleMoving 1s linear 0.3s forwards;
}
.login-h2Tag {
  margin: 0 0 15px;
  font-size: 30px;
  font-weight: 700;
}
.login-text .login-pTag {
  margin: 20px 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}
.login-container .login-col-right {
  padding: 60px;
  width: 50%;
  margin-left: -10%;
}
.login-col-right .login-form {
  position: relative;
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
}
.login-form .login-h2Tag:first-child {
  font-size: 30px;
  font-weight: 700;
  margin: 0 0 50px;
}
.login-form .facebooklogin-fb {
  border-radius: 4px;
  background-color: #3b5998;
  opacity: 1;
  width: -webkit-max-content;
  width: max-content;
  display: flex;
  color: #fff;
  padding: 10px 20px;
  align-items: center;
  cursor: pointer;
}
.login-form .facebooklogin-fb:hover {
  background: #2b3647;
}
.facebooklogin-fb:hover .facebooklogin-btn {
  background: #2b3647;
  font-weight: 600;
}
.facebooklogin-fb .facebooklogin-btn {
  box-sizing: border-box;
  width: 100%;
  border: none;
  font-size: 17px;
  background-color: #3b5998;
  height: 20px;
  color: #fff;
  margin: 5px 0 5px 10px;
  cursor: pointer;
}
.login-form .loginPageNote {
  width: 78%;
  margin-top: 10px;
  color: #333;
  font-size: 80%;
  font-weight: 400;
}
.login-form .login-labelTag {
  display: block;
  width: 100%;
  margin-bottom: 2px;
  letter-spacing: 0.5px;
  transition: 0.5s;
}
/* ANIMATION */
@keyframes showDropdownMenu {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2rem);
    transform: translateY(-2rem);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes Paragraph-fadein {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes Modal_transitionAnimation {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0;
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes login-titleMoving {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
